Hanh Tran

DSC 680

Project 1 - Movie Recommender

Data is provided by the grouplens research group. This dataset is from the MovieLens Latest Datasets. Using the Small: 100,000 ratings and 3,600 tag applications applied to 9,000 movies by 600 users. Last updated 9/2018.

The Full dataset is too large to run on my computer where there are 27,000,000 ratings and 1,100,000 tag applications applied to 58,000 movies by 280,000 users. Includes tag genome data with 14 million relevance scores across 1,100 tags. Last updated 9/2018.

https://grouplens.org/datasets/movielens/latest/

In [108]:
import pandas as pd
import numpy as np

## Finding Movie Similarities based on Correlation

In [181]:
r_cols = ['userId', 'movieId', 'rating']
ratings = pd.read_csv('ratings.csv', names=r_cols, usecols=range(3))

In [182]:
m_cols = ['movieId', 'title']
movies = pd.read_csv('movies.csv', names=m_cols, usecols=range(2))

In [183]:
#merge the datasets containing movie title and movie id, ratings, & userid
ratings = pd.merge(movies, ratings)

In [184]:
ratings.head()

   movieId             title  userId  rating
0  movieId             title  userId  rating
1        1  Toy Story (1995)       1       4
2        1  Toy Story (1995)       5       4
3        1  Toy Story (1995)       7     4.5
4        1  Toy Story (1995)      15     2.5

In [185]:
#drop the extra row containing duplicate column names
ratings = ratings.drop(labels=0, axis=0)

In [186]:
ratings.head()

  movieId             title userId rating
1       1  Toy Story (1995)      1      4
2       1  Toy Story (1995)      5      4
3       1  Toy Story (1995)      7    4.5
4       1  Toy Story (1995)     15    2.5
5       1  Toy Story (1995)     17    4.5

In [187]:
#check datatype for datatype error
dataTypeSeries = ratings.dtypes
print(dataTypeSeries)

movieId    object
title      object
userId     object
rating     object
dtype: object

In [188]:
#convert datatype to numeric
ratings['movieId'] = pd.to_numeric(ratings['movieId'])

In [189]:
ratings['userId'] = pd.to_numeric(ratings['userId'])

In [190]:
ratings['rating'] = pd.to_numeric(ratings['rating'])

In [191]:
#use pivot table to construct a user/movie rating matrix. 
movieRatings = ratings.pivot_table(index=['userId'], columns=['title'], values = 'rating')

In [192]:
#The NaN indicates missing data - movies that specific users didn't rate.
movieRatings.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [193]:
#check a specific movie similarity such as for Fight Club
fightClubRatings = movieRatings['Fight Club (1999)']
fightClubRatings.head()

userId
0    5.0
1    5.0
2    NaN
3    NaN
4    2.0
Name: Fight Club (1999), dtype: float64

In [194]:
#based on rating find a correlation between movies
similarMovies = movieRatings.corrwith(fightClubRatings)
similarMovies = similarMovies.dropna()
df = pd.DataFrame(similarMovies)
df.head(10)

C:\Users\hanhk\anaconda3\lib\site-packages\numpy\lib\function_base.py:2526: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\hanhk\anaconda3\lib\site-packages\numpy\lib\function_base.py:2455: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                          0
title
'burbs, The (1989)                -0.374498
(500) Days of Summer (2009)       -0.044359
*batteries not included (1987)     0.426401
...And Justice for All (1979)      1.000000
10 Cent Pistol (2015)              1.000000
10 Cloverfield Lane (2016)        -0.091902
10 Items or Less (2006)            1.000000
10 Things I Hate About You (1999)  0.265522
10,000 BC (2008)                  -0.120144
101 Dalmatians (1996)              0.160557

In [195]:
#sort for most similar movies to Fight Club
similarMovies.sort_values(ascending=False)

title
Secret World of Arrietty, The (Kari-gurashi no Arietti) (2010)    1.0
Amityville: Dollhouse (1996)                                      1.0
Water for Elephants (2011)                                        1.0
Jeremiah Johnson (1972)                                           1.0
Anything Else (2003)                                              1.0
                                                                 ...
Step Up (2006)                                                   -1.0
Stone (2010)                                                     -1.0
Fubar (2002)                                                     -1.0
Free Enterprise (1998)                                           -1.0
Danny Deckchair (2003)                                           -1.0
Length: 4863, dtype: float64

In [196]:
#check the size or number of ratings for each movie
movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})
movieStats.head()

                                        rating
                                          size mean
title
'71 (2014)                                 1.0  4.0
'Hellboy': The Seeds of Creation (2004)    1.0  4.0
'Round Midnight (1986)                     2.0  3.5
'Salem's Lot (2004)                        1.0  5.0
'Til There Was You (1997)                  2.0  4.0

In [197]:
#get rid of spurious data where there are less than 200 ratings for a given movie 
popularMovies = movieStats['rating']['size'] >=200
movieStats[popularMovies].sort_values([('rating', 'mean')], ascending=False)[:20]

                                                   rating
                                                     size      mean
title
Shawshank Redemption, The (1994)                    317.0  4.429022
Fight Club (1999)                                   219.0  4.276256
Usual Suspects, The (1995)                          204.0  4.237745
Star Wars: Episode IV - A New Hope (1977)           251.0  4.231076
Schindler's List (1993)                             220.0  4.225000
Star Wars: Episode V - The Empire Strikes Back ...  211.0  4.215640
Raiders of the Lost Ark (Indiana Jones and the ...  200.0  4.207500
Matrix, The (1999)                                  278.0  4.192446
Pulp Fiction (1994)                                 308.0  4.186688
Forrest Gump (1994)                                 329.0  4.164134
Silence of the Lambs, The (1991)                    279.0  4.161290
American Beauty (1999)                              204.0  4.056373
Braveheart (1995)                                   237.0  4.031646
Seven (a.k.a. Se7en) (1995)                         203.0  3.975369
Terminator 2: Judgment Day (1991)                   224.0  3.970982
Toy Story (1995)                                    215.0  3.920930
Apollo 13 (1995)                                    201.0  3.845771
Jurassic Park (1993)                                238.0  3.750000
Independence Day (a.k.a. ID4) (1996)                202.0  3.445545

In [198]:
#add similarity correlation column
df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))
df.head(15)

C:\Users\hanhk\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

,"(rating, size)","(rating, mean)",similarity
title,,,
American Beauty (1999),204.0,4.056373,0.378292
Apollo 13 (1995),201.0,3.845771,-0.065498
Braveheart (1995),237.0,4.031646,0.402418
Fight Club (1999),219.0,4.276256,1.000000
Forrest Gump (1994),329.0,4.164134,0.188095
Independence Day (a.k.a. ID4) (1996),202.0,3.445545,0.112970
Jurassic Park (1993),238.0,3.750000,0.005034
"Matrix, The (1999)",278.0,4.192446,0.417196
Pulp Fiction (1994),308.0,4.186688,0.492290
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981),200.0,4.207500,0.301985
Schindler's List (1993),220.0,4.225000,0.360462
Seven (a.k.a. Se7en) (1995),203.0,3.975369,0.510702
"Shawshank Redemption, The (1994)",317.0,4.429022,0.336705
"Silence of the Lambs, The (1991)",279.0,4.161290,0.220667
Star Wars: Episode IV - A New Hope (1977),251.0,4.231076,-0.051277

In [199]:
#sort similarity to get the highest correlation on top to show the most similar movies to Fight Club
df.sort_values(['similarity'], ascending=False) [:15]

,"(rating, size)","(rating, mean)",similarity
title,,,
Fight Club (1999),219.0,4.276256,1.000000
Seven (a.k.a. Se7en) (1995),203.0,3.975369,0.510702
Pulp Fiction (1994),308.0,4.186688,0.492290
"Matrix, The (1999)",278.0,4.192446,0.417196
Braveheart (1995),237.0,4.031646,0.402418
American Beauty (1999),204.0,4.056373,0.378292
Schindler's List (1993),220.0,4.225000,0.360462
"Usual Suspects, The (1995)",204.0,4.237745,0.358732
"Shawshank Redemption, The (1994)",317.0,4.429022,0.336705
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981),200.0,4.207500,0.301985
"Silence of the Lambs, The (1991)",279.0,4.161290,0.220667
Star Wars: Episode V - The Empire Strikes Back (1980),211.0,4.215640,0.206482
Toy Story (1995),215.0,3.920930,0.198586
Forrest Gump (1994),329.0,4.164134,0.188095
Terminator 2: Judgment Day (1991),224.0,3.970982,0.183887

## Item- Based Collaborative Filtering

In [200]:
corrMatrix = movieRatings.corr(method='pearson', min_periods=100)

In [201]:
corrMatrix.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Salem's Lot (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [202]:
#Create a sim User to test recommendation system. User must provide a few initial ratings 
myRatings = movieRatings.loc[0].dropna()
myRatings

title
50 First Dates (2004)    5.0
Fight Club (1999)        5.0
Pulp Fiction (1994)      1.0
Name: 0, dtype: float64

In [203]:
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print("Adding sims for " + myRatings.index[i] + "...")
    sims = corrMatrix[myRatings.index[i]].dropna()
    sims = sims.map(lambda x: x * myRatings[i])
    simCandidates = simCandidates.append(sims)
    
print("sorting...")
simCandidates.sort_values(inplace=True, ascending=False)
print(simCandidates.head(10))

C:\Users\hanhk\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Adding sims for 50 First Dates (2004)...
Adding sims for Fight Club (1999)...
Adding sims for Pulp Fiction (1994)...
sorting...
Fight Club (1999)              5.000000
Seven (a.k.a. Se7en) (1995)    2.553510
Pulp Fiction (1994)            2.461448
Memento (2000)                 2.406009
Reservoir Dogs (1992)          2.307205
Godfather, The (1972)          2.226024
Sixth Sense, The (1999)        2.117007
Matrix, The (1999)             2.085981
Braveheart (1995)              2.012090
Inception (2010)               1.917601
dtype: float64

In [204]:
simCandidates =simCandidates.groupby(simCandidates.index).sum()

In [205]:
simCandidates.sort_values(inplace=True, ascending=False)
simCandidates.head(25)

Fight Club (1999)                                                                 5.492290
Pulp Fiction (1994)                                                               3.461448
Seven (a.k.a. Se7en) (1995)                                                       2.842012
Reservoir Dogs (1992)                                                             2.701892
Memento (2000)                                                                    2.685852
Godfather, The (1972)                                                             2.590802
Matrix, The (1999)                                                                2.416583
Sixth Sense, The (1999)                                                           2.311989
Usual Suspects, The (1995)                                                        2.205362
Braveheart (1995)                                                                 2.104360
American Beauty (1999)                                                            2.100053
Saving Private Ryan (1998)                                                        2.083692
Schindler's List (1993)                                                           1.936178
Inception (2010)                                                                  1.917601
Shawshank Redemption, The (1994)                                                  1.815421
Kill Bill: Vol. 1 (2003)                                                          1.768522
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    1.631164
American History X (1998)                                                         1.575251
Silence of the Lambs, The (1991)                                                  1.448616
Good Will Hunting (1997)                                                          1.439775
Lord of the Rings: The Fellowship of the Ring, The (2001)                         1.431545
Lord of the Rings: The Return of the King, The (2003)                             1.248082
Gladiator (2000)                                                                  1.235364
Star Wars: Episode V - The Empire Strikes Back (1980)                             1.170873
Eternal Sunshine of the Spotless Mind (2004)                                      1.147414
dtype: float64